*background: #000000
*foreground: #FFFFFF

/* !! solarized */
*.color0:	#073642
*.color1:	#dc322f
*.color2:	#859900
*.color3:	#b58900
*.color4:	#268bd2
*.color5:	#d33682
*.color6:	#2aa198
*.color7:	#eee8d5
*.color9:	#cb4b16
*.color8:	#fdf6e3
*.color10:	#586e75
*.color11:	#657b83
*.color12:	#839496
*.color13:	#6c71c4
*.color14:	#93a1a1
*.color15: 	#fdf6e3


URxvt.background: [90]#000000
URxvt.intensityStyles: false
URxvt.scrollBar: false

URxvt.cursorColor: pink
URxvt.cursorUnderline: false

URxvt.urgentOnBell: true

URxvt.borderless: true
URxvt.multichar_encoding: true


!! scroll
URxvt.scrollTtyOutput: true
URxvt.scrollWithBuffer: true
Urxvt.scrollTtyKeypress: true

!! matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

URxvt.cursorBlink: true

!! extensions
URxvt.perl-lib:/usr/lib/urxvt/perl
URxvt.perl-ext-common:default,clipboard,tabbed,url-select,selection-to-clipboard,keyboard-select,resize-font

URxvt.iso14755: false
URxvt.iso14755_52: false

!! copy/paste
URxvt.clipboard.autocopy: true
URxvt.keysym.Control-C: perl:clipboard;copy
URxvt.keysym.Control-V: perl:clipboard:paste

!! resize
URxvt.keysym.Control-Plus: resize-font:bigger
URxvt.keysym.Control-Minus: resize-font:smaller
URxvt.keysym.Control-R: resize-font:reset

!! tabbed
URxvt.tabbed.tabbar-fg: #FFFFFF
URxvt.tabbed.tabbar-bg: #000000
URxvt.tabbed.new-button: false
URxvt.tabbed.tab-numbers: true

!! fonts
URxvt.font: xft:DejaVu Sans Mono:autohint=true:size=10, xft: Inconsolata Nerd Font Mono:size=15
